#gallery {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.gallery__item {
  list-style: none;
}

#validation-input {
  border: 2px solid #9ca39e;
}

#validation-input.valid {
  border-color: #06f93f;
}

#validation-input.invalid {
  border-color: #f90606;
}